/*
  Override default refinery application CSS below.
  Formatting applies to all frontend.
*/

body {
	font-family: Century Gothic, Helvetica, Trebuchet MS, sans-serif;
	background-color: #2b2922;
	color: #999966;
	/*font-size: 18px;
	text-align: center;*/
	}
	
a {text-decoration:none; color:#A32500;}

a:focus, a:hover {color:#A32500; text-decoration: underline;}



/* HEADER */
header {
	background-color: #A39770;
	height: 250px;
	width: 100%;
}


/* HEADER DETAILS */
#info {text-align: right; position: relative; top: 20px; right: 90px;}
#logo {position:relative; right:-14px; margin: 0 0 10px 0;}
#phone {font-size: 18px; color: #ffffff}
#contact {font-size: 12px;}

#nav li {list-style: none; display:inline; padding-left:40px; padding-right:0px; text-align:right;}
#nav a {color:#999966}
#nav a:hover, a:focus {color:#A32500; text-decoration:none;}
#nav a.highlight {color:#A32500;}
#nav {position:relative; top:40px; right:0px;}






/* FOOTER */
footer {
	/*background-image: url('images/footer.jpg');*/
	background-color: #A39770;
	color: #2b2922;
	height: 120px;
	width: 100%;
	font-size: 12px;
	text-align: center;
	padding: 40px 0 10px 0;
	margin: 60px 0 0 0;
}





/* PAGE PARTS */

#body_content_title {position: relative; top: -120px; left: 0px; width:600px; color: #ffffff; font-size: 50px; font-weight: normal;}



#body_content_right {
	text-align: right;
	font-size: 26px;
	padding: 50px 50px 0 0;
	width: 310px;
	}

#body_content_right li {padding: 0 0 30px 0;}
#body_content_right ul {list-style: none;}
#body_content_right a {color:#999966}
#body_content_right a:hover, a:focus {color:#A32500; text-decoration:none;}



/* PORTFOLIO IMAGES */

#portfolio_images li {float:left; margin:10px; padding:4px;}


/* GALLERY */
#gallery li {float:left; margin:10px; padding:4px; list-style: none;}





