/*
  Override default refinery application CSS below.
  Formatting applies to all frontend.
*/

body {
	font-family: Century Gothic, Helvetica, Trebuchet MS, sans-serif;
	background-color: #2b2922;
	color: #999966;
	/*font-size: 18px;
	text-align: center;*/
	}
	
a {text-decoration:none; color:#A32500;}

a:focus, a:hover {color:#A32500; text-decoration: underline;}



/* HEADER */
header {
	background-color: #A39770;
	height: 250px;
	width: 100%;
}


/* HEADER DETAILS */
#info {text-align: right; position: relative; top: 20px; right: 90px;}
#logo {position:relative; right:-14px; margin: 0 0 10px 0;}
#phone {font-size: 18px; color: #ffffff}
#contact {font-size: 12px;}


/* FOOTER */
footer {
	/*background-image: url('images/footer.jpg');*/
	background-color: #A39770;
	color: #2b2922;
	height: 120px;
	width: 100%;
	font-size: 12px;
	text-align: center;
	padding: 40px 0 10px 0;
}


#body_content_title {position: relative; top: -120px; left: 50px; width:600px; color: #ffffff; font-size: 50px; font-weight: normal;}


#body_content_left {
	padding: 0 0 0 40px;}

#body_content_right {
	text-align: right;
	font-size: 26px;
	padding: 50px 50px 0 0;
	width: 300px;
	 }

#body_content_right li {padding: 0 0 30px 0;}
#body_content_right ul {list-style: none;}
#body_content_right a {color:#999966}
#body_content_right a:hover, a:focus {color:#A32500; text-decoration:none;}









