/*
  Override default refinery homepage styles here.
  These only apply to the homepage of your site.
*/

/* PAGE */
#content {width: 950px; position: relative;}
#bgrounds {height: 530px;}

#logo_area {position:absolute; margin: 0 0 10px 0; right: 50px; top: 250px; text-align: right; font-size: 12px; width: 160px; color: #ffffff}

#byline {margin: 0 0 40px 0;}
#phone {font-size: 18px;}
#email a {font-size: 11px; color: #ffffff;}


/* IMAGES */
img {vertical-align:top; float: left;}

/* HEADER */
header {display: none;}

/* FOOTER */
footer {display: none;}

/* NAV */
#navrow {background: url(images/nav.jpg) no-repeat; height: 50px; position: relative;}

.navrow li {margin: 0; padding: 0; list-style: none; position: absolute; top: 0;}

.navrow li a {display: block;}
	
#navrow li a {height: 50px;}

#button_1 {left: 0px; width: 150px;}
#button_2 {left: 150px; width: 200px;}
#button_3 {left: 350px; width: 200px;}
#button_4 {left: 550px; width: 250px;}
#button_5 {left: 800px; width: 150px;}

#button_1 a:hover {background: url(images/nav.jpg) 0px -50px no-repeat;}
#button_2 a:hover {background: url(images/nav.jpg) -150px -50px no-repeat;}
#button_3 a:hover {background: url(images/nav.jpg) -350px -50px no-repeat;}
#button_4 a:hover {background: url(images/nav.jpg) -550px -50px no-repeat;}
#button_5 a:hover {background: url(images/nav.jpg) -800px -50px no-repeat;}


