
<p>
  <%= t('.copyright', :year => Time.now.year,
                      :site_name => RefinerySetting.find_or_set(:site_name, "Company Name")) %>
</p>

<p style="color:#707070">A <b><a style="color:#000099;" href="http://bluecitysystems.com">BLUE CITY</a></b> Web App</p>