

 <div id="info">
   <div><%= link_to image_tag("/stylesheets/images/logo.jpg"),'home', :id=>'logo'%><div>
   <div id="phone"><%= RefinerySetting.find_or_set(:phone_num, "")%></div>
   <div id="contact"><%= link_to "contact", "/about-us" %></div>
 </div>

